@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #C2D3E0;
}

.container {
	width: 360px;
	margin: 20px auto;
	background-color: white;
	border-radius: 10px;
	padding: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	background-color: #f0f0f0;
	border-bottom: 1px solid #ddd;
}

.header h1 {
	flex-grow: 1;
	text-align: center;
	font-size: 18px;
}

.back-btn {
	font-size: 24px;
	cursor: pointer;
	color: black;
	margin-right: auto;
}

.content {
	margin-top: 20px;
}

.stars {
	display: flex;
	margin-bottom: 10px;
}

.star {
	font-size: 24px;
	color: lightgray;
	cursor: pointer;
	transition: color 0.3s;
}

.star.checked {
	color: gold;
}

.photo-upload {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	cursor: pointer;
	color: black; /* 사진등록 텍스트 색을 검정색으로 변경 */
}

.photo-upload span {
	font-size: 16px;
}

.input-box {
	background-color: #f4f4f4;
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 10px;
}

.submit-btn {
	width: 100%;
	padding: 10px;
	background-color: #5079a9;
	color: white;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 10px; /* 추가 */
}

.submit-btn:hover {
	background-color: #3b6289;
}

#imagePreview {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	display: none;
}

/* 언더바(수평선) 스타일 */
.separator {
	border: 0;
	height: 1px;
	background: #ddd;
	margin: 10px 0;
}

